

@media only screen and (max-width: 1496px) {
    .delivery {

        .delivery-content {
            padding-left: 85px;

            h2 {
                margin-bottom: 15px;
                font-size: 2rem;
            }

            p {
                margin-bottom: 20px;
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .home-slider-wrapper {

        .home-banner {
            height: 700px;

            .banner-content-wrapper {
                padding-top: 150px;
                margin-bottom: 50px;
            }
        }
    }

    .follow-us {
        padding: 100px 0;
    }

    .shop-page-wrapper {
        padding: 60px 0;
    }
}

@media only screen and (max-width: 1025px) {

    /* navbar toggle */ 
    .navbar-toggle {
        margin: 0;
        display: block;
        border: 0;
        background-color: #fff;
        padding: 0px 10px 4px 12px;
        transition: all .3s ease;
        border-radius: 0;
        font-size: 1.3rem;
        color: $primary;

        span {
            padding-top: 7px;
        }
    }

    .header {

        .navbar {

            .navbar-header {

                img {
                    transition: all .3s ease;
                }
            }
        }
    }

    .header {

        &.sticky {

            .navbar {

                .navbar-header {

                    img {
                        max-width: 70%;
                    }
                }
            }
        }
    }

    .navbar-header {
        float: none;
        display: flex !important;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 0 !important;

        &:before, &:after {
            content: none;
        }
    }

    .navbar-collapse {

        &.collapse {
            display: none !important;

            &.in {
                display: block !important;
            }
        }
    }

    .navbar-wrapper {
        display: none !important;
    }

    .sidr {
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 999999;
        position: fixed;
        max-width: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        background: #fff;
        -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

        &.right {
            left: auto;
            right: -100%;
        }

        &.left {
            left: -100%;
            right: auto;
        }
    }
    /* Sidr Menu */
    .sidr-inner {

        .closeMenu {
            font-size: 2rem;
            color: #fff;
            padding: 5px 15px;
            background-color: $primary;
            cursor: pointer;
            margin: 0 0 15px;
            display: inline-block !important;
            transition: all .3s ease;

            &:hover, &:focus {
                background: $primary;
                color: white;
                border-color: $primary;
            }
        }

        .nav {

            &.navbar-nav {
                float: none !important;
                margin: 0;

                li {
                    float: none;
                    border-bottom: 1px solid #ECECEC; 

                    a {
                        font-weight: 700;
                        font-family: $poly;
                        color: #061c55 !important;
                        text-transform: uppercase;
                        padding: 10px 20px;
                        transition: all .3s ease;
                        @include em(16px, 24px);
                        padding-left: 0;

                        &:hover, &:focus {
                            background-color: transparent;
                        }
                    }

                    &.dropdown {

                        >a {
                            position: relative;

                            &:after {
                                color: #061c55;
                                content: "\f0d7";
                                position: absolute;
                                font-size: 1.3rem;
                                right: 20px;
                                color: $primary;
                                font-family: "Font Awesome 5 free";
                                font-weight: 900; 
                                line-height: inherit;
                                top: calc(50% - 15px);
                            }
                        }
                    }

                    &.open {

                        a {
                            color: $primary;
                            background-color: transparent;
                        }

                            .dropdown-menu {
                                position: inherit;
                                background-color: transparent;
                                box-shadow: none;
                                border: 0;
                                float: none;
                                min-width: auto;
                                padding: 2px 0 0;
                                box-shadow: none;

                            li {
                                border: 0;

                            a {
                                text-shadow: none;
                                padding-left: 20px;
                                @include em(14px, 20px);
                            }

                            &.menu-active {

                                a {
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .delivery {

        .align-center {
            display: inherit;
        }

        .delivery-content {
            padding: 0 30px;
            margin-top: -110px;

            .delivery-box {
                position: inherit;
                left: 0;

                .content {
                    margin: 0 auto;
                }
            }
        }
    }

    .follow-us {
        padding: 60px 0;
    }

    .most-popular-product {
        padding: 60px 0;

        .home-product-slider {

            .sliders-wrapper {

                .product-info-slider {
                    padding-top: 15%;
                }
            }
        }
    }

    /*************************************************
    *                      ABOUT PAGE 
    **************************************************/ 
    .page-banner {
        padding: 250px 0 35px;
    }

    /* Widgets Design */
    .widget {
        padding: 0;

        .widget-title {
            @include em(24px, 30px);
            margin: 0 0 15px;
        }

        p {
            @include em(20px, 30px);
        }

        .navbar-nav {

            li {

                a {
                    @include em(20px, 30px);
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .home-slider-wrapper {

        .home-banner {
            height: auto;

            .banner-content-wrapper {
                padding-top: 230px;

                .banner-content {

                    p {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }

    .why-choose-us {
        padding: 80px 0;
    }

    .order-system {
        padding: 65px 0;

        .process-item-wrapper {
            grid-template-columns: repeat(2, 1fr);

            .process-item {

                &:nth-child(1) {
                    border-bottom: 0.5px solid #EB9BA2;
                }

                &:nth-child(2) {
                    border-right: 0;
                    border-bottom: 0.5px solid #EB9BA2;
                }
            }
        }
    }

    .most-popular-product {

        .home-product-slider {

            .sliders-wrapper {

                .product-info-slider {
                    padding: 5% 0;
                }
            }
        }
    }

    .reviews {
        padding: 60px 0;

        .section-title {
            margin-bottom: 50px;
        }

        .reviews-slider-wrapper {

            img {
                padding-right: 30px;
                margin-right: 30px;
            }
        }
    }

    .newsletter {
        padding: 50px 0;

        .align-center {
            display: inherit;
        }

        .content {

            h2 {
                max-width: 100%;
                line-height: 1;
                margin-bottom: 25px;
            }
        }
    }

    .shop-page-wrapper {

        .shop-sidebar {
            border-bottom: 1px solid #EB9BA2;
            padding-bottom: 25px;
            margin-bottom: 25px;
        }

        .product-wrapper {
            padding-left: 0;
            border: 0;

            .nav {
                margin-bottom: 30px;
            }

            .tab-content {
                border-top: 1px solid #EB9BA2;
                padding-top: 30px;

                .tab-pane {

                    .product {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }

    .product-category {
        padding: 60px 0;
    }

    .footer {
        padding: 50px 0 40px;

        .eq-height {
            max-width: 600px;
            margin: 0 auto;
        }

        .footer-items {
            margin-bottom: 30px;
        }

        .footer-logo {

            a {
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }

    .woocommerce-checkout {

        .woocommerce {

            form.woocommerce-checkout {

                .col2-set {
                    width: 100% !important;
                    margin-bottom: 20px;
                }

                .woocommerce-checkout-review-order {
                    width: 100% !important;
                    margin-top: 0;
                }
            }
        }
    }

    .product {

        .summary {

            .tinv-wraper.tinv-wishlist {
                float: none;
                top: 0;
                margin-top: 10px;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .contact-form-wrapper {
        padding: 0 0 50px;

        .align-center {
            display: block;
        }

        .contact-form {
            margin-top: 30px;

            form {

                textarea {
                    margin-bottom: 25px;
                }
            }
        }
    }

    .most-popular-product {

        .home-product-slider {

            .sliders-wrapper {

                .product-info-slider {

                    .info-item {
                        display: block;

                        .content {
                            width: 100%;
                        }

                        .product-images-slider {
                            width: 100%;
                        }
                    } 
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .btn {
        padding: 12px 25px;
    }

    .page-content {
        padding: 40px 0 !important;
    }

    .home-banner {

        .banner-content-wrapper {

            .banner-content {
                padding: 0;
                margin-bottom: 30px;

                .buttons {

                    .btn {

                        &:last-child {
                            margin-left: 0px;
                        }
                    }
                }
            }

            .delivery-box {

                .content {
                    margin: 0 !important;
                    height: auto !important;
                }

                .occasions {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .most-popular-product {

        .home-product-slider {

            .sliders-wrapper {
                
                .product-images-slider {

                    .product-info-slider {
                        padding: 0 0 20px;
                    }

                    .product-img {

                        img {
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .reviews {
        padding: 50px 0;

        .section-title {
            margin-bottom: 40px;
        }

        .reviews-slider-wrapper {

            img {
                padding-right: 20px;
                margin-right: 20px;
            }
        }
    }

    .follow-us {
        padding: 40px 0;
    }

    .newsletter {

        .content {

            h2 {
                font-size: 2.2rem;
                margin-bottom: 20px;
            }
        }
    }

    .about-items {

        .align-center {
            flex-wrap: wrap;
        }
    }

    .florists-taste {
        padding: 80px 0 40px;
    }

    .modern-approach {

        .content {
            margin: 0;
            padding: 25px;
        }

        .align-center {
            flex-direction: column-reverse;
        }
    }

    .firm {
        padding: 40px 0;
    }

    .modern-approach {
        padding: 40px 0;
    }

    .contact-information {
        padding: 60px 0;

        .align-center {
            flex-wrap: wrap;
        }
    }

    .shop-page-wrapper {
        padding: 40px 0;

        .category-item-wrapper {

            .products {
                padding-bottom: 30px;
            }
        }
    }

    .product-category {
        padding: 50px 0;
    }

    .footer {
        padding: 40px 0;
    }

    .woocommerce-cart {

        table.shop_table {

            tbody {

                tr {
                    display: block !important;
                }

                td {
                    text-align: left !important;
                    width: 100%;
                    max-width: 100% !important;
                    padding: 0 !important;
                    margin-top: 20px !important;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    &.product-thumbnail {
                        display: block !important;
                    }
                }
            }
        }

        .cart-collaterals {

            .cart_totals {

                table.shop_table {
                    max-width: 100%;

                    tr.order-total {

                        td {
                            margin: 0 !important;
                            padding: 10px 20px !important;
                            width: 100%;
                        }
                    }
                }
            }

            .wc-proceed-to-checkout {
                margin: 0;

                a {
                    margin: 15px auto 0 !important;
                }
            }
        }
    }

    .product {

        .summary {

            .attributes-wrapper {

                .items {

                    .line {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .category-list {

        .slick-dots {
            bottom: 60px;
        }
    }

    .page-banner {
        padding: 200px 0 35px;
    }
}

@media only screen and (max-width: 575px) {

    .col {
        width: 100%;
    }

    .section-title {

        h2 {
            font-size: 2rem;
            margin-bottom: 15px;
        }

        p {
            font-size: 1rem;
        }
    }

    .why-choose-us {
        padding: 60px 0 30px;
    }

    .reviews {

        .reviews-slider-wrapper {
            text-align: center;

            img {
                padding: 0 0 20px;
                float: none;
                border: 0;
                margin: 0 0 20px;
                border-bottom: 1px solid #2C241C;
            }
        }
    }

    .page-banner {

        .section-title {

            h2 {
                margin-bottom: 20px;
            }
        }
    }

    .delivery-box .occasions {
        font-size: 2rem;
    }

    .product-category {
        padding: 40px 0;

        .category-list {

            .category {
                padding: 0;
                margin: 0 0 30px;

                .cat-title {
                    transform: rotate(0deg);
                    position: inherit; 
                    text-align: center;
                    width: 100%;
                    display: block;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .footer {
        padding: 30px 0;

        .footer-items {
            text-align: center;

            p, a {
                text-align: center !important;
            }
        }

        .social-media {
            justify-content: center;
        }

        .copy-right {
            border-top: 1px solid #fff;
            padding-top: 30px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .why-choose-us {
        padding: 40px 0 10px;

        .features {

            .items {
                padding: 15px;
            }
        }
    }
    .order-system {
        padding: 45px 0;

        .process-item-wrapper {
            grid-template-columns: repeat(1, 1fr);

            .process-item {
                justify-content: flex-start;
                border: 0 !important;
                border-bottom: 0.5px solid #EB9BA2 !important;
            }
        }
    }

    .about-items {

        .content {

            h3 {
                margin-bottom: 20px;
            }
        }
    }

    .florists-taste {
        padding: 40px 0 20px;
    }

    .modern-approach {

        .content {
            margin: 0;
            padding: 25px;
        }

        .align-center {
            flex-direction: column-reverse;
        }
    }

    .firm {
        padding: 20px 0 40px;
    }

    .modern-approach {
        padding: 20px 0;
    }

    .newsletter {

        .content {

            h2 {
                font-size: 1.85rem;
            }
        }
    }

    .contact-information {
        padding: 40px 0;

        .information-item-wrapper {

            .information-item {

                h3 {
                    margin-bottom: 15px;
                }
            }

            .separator {
                margin-bottom: 40px;
            }

            &.contact-top-col {

                table {

                    tr {

                        td {
                            display: block !important;
                            text-align: center !important;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 380px) {
    .newsletter {

        .newsletter-form {

            form {
                display: block;

                .btn {
                    margin: 15px 0 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    
}
